<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="navbar navbar-light bg-dark">
        <img src="https://pbs.twimg.com/profile_images/1439953850471911426/s4pE9SYa_400x400.jpg" alt="random image">
        <h1><i>Vasu Agarwal</i></h1>
        <form class="form-inline">
            <button class="btn btn-outline-primary" type="button">manage tasks</button> 
        </form>
        <form class="form-inline">
            <button class="btn btn-outline-danger" type="button">sign out</button> 
        </form>
    </nav>

    <div class="taskmain">
        <div class="taskleft"></div>
        <div class="taskright"></div>
    </div>
    
</body>
</html>